################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AssetManagement/AssetManagement/bin/Debug/netcoreapp3.1
/AssetManagement/.vs/AssetManagement
/AssetManagement/AssetManagement/wwwroot/lib
/AssetManagement/AssetManagement/obj
